PasswordAuthentication no
PermitRootLogin no
PubkeyAuthentication yes

Match User iii
    AuthenticationMethods publickey
    AllowAgentForwarding no
    AllowTcpForwarding no
    PermitTunnel no
    PermitTTY no
    X11Forwarding no
