{{ {
  'schema': 'iii.host-network-policy/v1',
  'hostname': 'iii',
  'mdns_fqdn': 'iii.local',
  'fixed_ip': false,
  'ethernet_dhcp_required': true,
  'wifi_supported': true,
  'onboard_access_point': false,
  'confirmation_deadline_s': 90,
  'operator_netplan': '/etc/netplan/90-iii-operator.yaml',
  'transaction_root': '/var/lib/iii/deployment/network'
} | iii_canonical_json }}
