III_SYSTEM_PROFILE={{ iii_profile }}
SIMULATION={{ 'true' if iii_profile == 'hil' else 'false' }}
III_SYSTEM_RUNTIME_DIR=/run/iii
III_SYSTEM_DAEMON_SOCKET=/run/iii/system_manager.sock
III_SYSTEM_DAEMON_LOG=/home/iii/.ros/log/system-daemon.log
ROS_LOG_DIR=/home/iii/.ros/log
III_SYSTEMD_DAEMON_SERVICE=iii-system-daemon.service
CONFIG_BASE_DIR=/home/iii/.config/iii_drone
III_TUNING_STATE_ROOT=/home/iii/.config/iii_drone/tuning
III_RUNTIME_API_ID=iii-runtime
III_RUNTIME_API_NAME=III Runtime
III_RUNTIME_API_PROFILE={{ iii_profile }}
III_RUNTIME_API_HOST=0.0.0.0
III_RUNTIME_API_PORT={{ iii_runtime_api_port }}
III_RUNTIME_API_MDNS_ENABLED=1
III_RUNTIME_API_MDNS_INSTANCE=III Runtime
III_RUNTIME_API_SYSTEM_ID=iii-drone
III_RUNTIME_API_PX4_MAVLINK_ENDPOINT=udpin://0.0.0.0:{{ iii_hil_mavlink_udp_port if iii_profile == 'hil' else iii_px4_mavlink_udp_port }}
III_RUNTIME_API_PX4_SYSTEM_ID={{ iii_hil_px4_system_id if iii_profile == 'hil' else iii_px4_system_id }}
III_RUNTIME_API_REQUIRE_SECRETS=0
III_RUNTIME_API_LOG_DIR=/home/iii/.ros/log/runtime-api
III_RUNTIME_SESSION_LOG_ROOT=/home/iii/.ros/log
III_RUNTIME_SESSION_DEBUG=0
