III_GC_PROXY_HOST=127.0.0.1
III_GC_PROXY_PORT=8780
III_GC_FRONTEND_PORT=5173
III_GC_PROXY_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
III_GC_PROXY_PUBLIC_URL=http://127.0.0.1:8780
III_REGISTRY_ROOT={{ iii_gc_home }}/.local/state/iii/registry
III_RUNTIME_API_TOKEN_FILE={{ iii_gc_home }}/.config/iii/credentials/runtime-api.token
III_GC_LOG_DIR={{ iii_gc_home }}/.local/state/iii/logs/ground-control
III_GC_IMAGE_TAG={{ iii_gc_application_id }}
III_GC_APPLICATION_ID={{ iii_gc_application_id }}
WORKSPACE_DIR={{ iii_gc_workspace }}
